<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <img src="/images/smile.png">
      </div>
    </div>
    
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username">kondash</h2>
        
      </div>
      <ul class="posts">
        <li><span>10</span> posts</li>
        <li><span>10</span> followers</li>
        <li><span>10</span> following</li>
      </ul>
      <h2 class="name">Julia Kondash</h2>
    </div>
  </div>

</div>

